/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button,.toggle-button {
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
    -fx-text-fill: #fff;
}
.btn-green {
    -fx-background-color: #28a745;
}
.btn-green:hover {
    -fx-background-color: #269840;
}
.btn-green:selected {
    -fx-background-color: #248935;
}
.btn-blue {
    -fx-background-color: #007cff;
}
.btn-blue:hover {
    -fx-background-color: #0070f2;
}
.btn-blue:selected {
    -fx-background-color: #006cee;
}
.btn-red {
    -fx-background-color: #dc3545;
}
.btn-red:hover {
    -fx-background-color: #ca2938;
}
.btn-red:selected {
    -fx-background-color: #b82032;
}
.btn-cyan {
    -fx-background-color: #20b2cc;
}
.btn-cyan:hover {
    -fx-background-color: #18b0bb;
}
.btn-cyan:selected {
    -fx-background-color: #16a8aa;
}
.btn-gray {
    -fx-background-color: #727272;
}
.btn-gray:selected {
    -fx-background-color: #646464;
}
.btn-white {
    -fx-text-fill: #444;
    -fx-background-color: #dcdcdc;
}
.btn-white:selected {
    -fx-text-fill: #444;
    -fx-background-color: #bebebe;
}
.tool-bar {
    -fx-spacing: 8px;
}
.tool-bar .label {
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
}
.choice-box {
    -fx-background-color: #0070f2;
    -fx-mark-color: white;
}
.choice-box > .label {
    -fx-text-fill: white;
}
.choice-box .context-menu {
    -fx-background-color: #0070f2;
}
.choice-box .menu-item:focused {
    -fx-background-color: #007cff;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: white;
}
